@font-face {
    font-family: 'Montserrat';
    src: url("/fonts/montserat/Montserrat-Thin.ttf");
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url("/fonts/montserat/Montserrat-ExtraLight.ttf");
    font-style: normal;
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url("/fonts/montserat/Montserrat-Light.ttf");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url("/fonts/montserat/Montserrat-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url("/fonts/montserat/Montserrat-Medium.ttf");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url("/fonts/montserat/Montserrat-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url("/fonts/montserat/Montserrat-Bold.ttf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url("/fonts/montserat/Montserrat-ExtraBold.ttf");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url("/fonts/montserat/Montserrat-Black.ttf");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url("/fonts/roboto_slab/RobotoSlab-VariableFont_wght.ttf");
    font-style: normal;
    font-weight: 1 1000;
    font-display: swap;
}
