$header: normal normal 500 6rem Roboto Slab;
$header-sm: normal normal 500 3rem Roboto Slab;
$header-lg: normal normal 500 4.5rem Roboto Slab;

$header2: normal normal 500 4.5rem Roboto Slab;
$header2-sm: normal normal 500 2.5rem Roboto Slab;
$header2-lg: normal normal 500 3.5rem  Roboto Slab;

$header3: normal normal 500 3.5rem Roboto Slab;
$header3-sm: normal normal 500 1.5rem Roboto Slab;
$header3-lg: normal normal 500 2.5rem  Roboto Slab;

$text: normal normal 400 1.125rem Montserrat;
$text-sm: normal normal 400 .875rem Montserrat;
$text-lg: normal normal 400 1rem Montserrat;

$list-item: normal normal 400 1.125rem Montserrat;
$list-item-sm: normal normal 400 .875rem Montserrat;
$list-item-lg: normal normal 400 1rem Montserrat;

$nav-item: normal normal 700 1.375rem Montserrat;
$nav-item-sm: normal normal 600 1.125rem Montserrat;
$nav-item-lg: normal normal 600 1.25rem Montserrat;